# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradlew
gradlew.bat
gradle

#minecraft
config
logs
options.txt
saves
usercache.json
usernamecache.json

# other
eclipse
run